@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

html {
	font-family: 'Roboto', sans-serif;
}
p {
	text-align: justify;
}

/* #347dbd #445a75 */


main {
	page: main-page;
}

@page {
	size: A4;
}

@page main-page {

  @top-right {
    content: "My title";
  }

  @bottom-right {
        content: counter(page);
  }

}

.page-break {
	break-after: page;
}

.cover-page {
	page: cover-page;
}

@page cover-page {
    background-color: #347DBD;
    color: white;
    
    @top-right-corner {
         content: none;
    }
    @top-right {
        content: none;
    }
    @top-left-corner {
         content: none;
    }
    @top-left {
        content: none;
    }

    @bottom-right {
        content: none;
  	}
}